/* Conjunto de regras
 Quando a largura da tela for máxima de 900 px (0 ate 900) aplica-se regras especificas */

 @media (min-width: 2560px){
  #page-home{
    height: 80vh; /* viewport, pega a altura e faz ocupar todos os blocos */
    background-position: 35vw bottom; /*largura agora*/
    background-position-x: 45vw;
  }
}

 @media (max-width: 900px){
  #page-home{
    background-position-x: 70vw;
  }

  #page-home .content{
    align-items: center;
    text-align: center;
  }

  #page-home header a{
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main{
    align-items: center;
  }

  #page-search-results .cards{
    grid-template-columns: 1fr;
  }

  #page-search-results .cards img{
    height: 200px;
  }

  #page-create-point .field-group{
     flex-direction: column;

  }

  #page-create-point .field-group .field + .field{
    margin-left: 0;
  }
}

@media (max-width: 768px){
  #page-home header{
    margin-top: 30px;
  }

  #page-home main h1{
    font-size: 35px;
  }
}

@media (max-height: 760px){
  #page-home{
    background-position-y: 200px;
  }
}